<div class="ui-g">
  <div class="ui-g-12 ui-md-12">
    <div class="ui-g-12 ui-md-4">
      <div class="ui-g-12 ui-md-6">
        <div class="ui-g-12 ui-md-12">
          <div class="ui-float-label">
      <input pInputText [value]="calculation" readonly/>
      <label>Enter Calculation</label>
          </div>
        </div>
        <div class="ui-g-12 ui-md-3" *ngFor="let item of buttons">
          <app-number-button [character]="item.label" (charClick)="add($event)"></app-number-button>
        </div>
      </div>
    </div>
    <div class="ui-g-12 ui-md-8">
      <div class="ui-g-12 ui-md-12">
        <label>Your Answer</label>
      </div>
      <div class="ui-g-12 ui-md-12">
        <label>{{calculated}}</label>
      </div>
    </div>
  </div>
</div>  